
/* CSS DOCUMENT */

*{
    font-family: 'Libre Baskerville', serif;
}

html{
    background: linear-gradient(135deg, white, rgb(58, 39, 230));
}

/* Header*/

header{
    width: 100%;
}


#lys1{
    float: left;
    width: 5%;
    height: 5%;
    padding-left: 35px;
}

#lys2{
    float: right;
    width: 5%;
    height: 5%;
    padding-right: 35px;
}

h1{
    text-align: center;
    font-size: 50px;
}

/* Menu */
ul {
    font-family: 'Libre Baskerville', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 39, 230);
}
      
a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
      
.active, .btn:hover {
    background-color: rgb(235, 168, 23);
}

.sticky {
    position: fixed;
    top: 0;
    width: 80%;
}

.sticky + .content {
    padding-top: 60px;
}

/* Images */
.img {
    float: left;
    margin: 15px;
    max-width: 25vw;
    max-height: 25vw;
}

image:not(.lys){
    border: 3px solid;
}

#louisPics1{
    float: left;
    margin: 5px;
    max-width: 15vw;
    max-height: 15vw;
}

#philippeLeBel{
    float: left;
    margin: 5px;
    max-width: 30vw;
    max-height: 30vw;
}

/* Body */
.content {
padding: 25px;
margin: auto;
width: 80%;
}

.FirstLetter {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 80%;
}
    
article {
    text-align: justify;
}


.diapoauto {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/*Formulaire*/
form {
    margin: 0 auto;
    width: 450px;
    padding: 1em;
    border-radius: 1em;
}

legend{
    font-size: 25px;
}

input{
    float: right;
}


/* Horloge */
.colorHorlogeBlue {
    color: blue;
}
.colorHorlogeYellow {
    color: rgb(235, 168, 23);
}

/*Responsive*/
.diapoAuto{
    width: 290px;
    height: 370px;
    max-width: 20vw;
    max-height: 20vw;
}

.diapoManu{
    width: 510px;
    height: 510px;
    max-width: 20vw;
    max-height: 20vw;
}


/*Slider auto*/
.mySlides {
    display: none;
}

    /*Slider manuel*/

.myManuSlides {
    display: none;
    float: left;
    margin-right: 5px;
}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    margin-top: 100px;
    margin-right: 941px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active {
  background-color: rgb(235, 168, 23);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideshow-container {
    float: left;
    padding-right: 5px;
}